      <div id="D0D96006-C11C-4EEA-AF93-8DD8C3D92522" class="message is-bookend with-timestamp" ng-class="{
    me: currentUser.id == message.user_id,
    'is-continuation': message.isContinuation,
    'is-bookend': message.isBookend,
    'with-timestamp': message.formattedTimestamp,
    highlight: message.showHighlight
  }">

  <!--<div class="timestamp-divider" ng-if="message.formattedTimestamp" ng-bind="message.formattedTimestamp">%%Date%%</div>-->%%DateDiv%%

  <div class="message-header clearfix">

    <div class="avatar">
      <div class="avatar-crop img-circle text-center" ng-click="openOneOnOne()">
        <!----><img alt="Avatar" class="img-responsive" ng-if="(!message.system &amp;&amp; message.sender_type !== 'system')" gm-avatar="message.avatar_url" src="%%UserNameUrl%%"><!---->
        <!---->
      </div>
    </div>

    <!----><div ng-if="!(isDMChat &amp;&amp; currentUser &amp;&amp; currentUser.id != message.user_id &amp;&amp; isLastInChat())" class="nickname" gm-twemoji="message.name">%%UserName%%</div><!---->
    <!---->

  </div>

  <div class="message-body clearfix">

    <div class="gutter">

      <!----><div class="likes-container liked" ng-controller="LikesController" ng-if="!message.failed &amp;&amp; message.id" ng-class="{'liked': message.favorited_by.length, 'liked-by-me': likedByMe}" ng-click="toggleLike()" ng-mouseover="message.showHighlight = true;" ng-mouseleave="message.showHighlight = false;" gm-tooltip="" gm-likes-ghost="" gm-determine-context="">
        <i class="gmicon-heart"></i>
        <i class="gmicon-heart-outline"></i>
        <span class="count" ng-show="message.favorited_by.length" ng-bind="message.favorited_by.length">%%Likes%%</span>


        <div class="pop-over" ng-show="likesList.length">
          <!----><div class="liker" ng-repeat="member in likesList">
            <img alt="Avatar" gm-avatar="member.image_url" class="like-avatar" src="https://i.groupme.com/638x640.jpeg.d7d37776a55942368c46d9e94f200a9b.avatar">
            <div class="name tooltip">
              <div class="tooltip-inner" gm-twemoji="member.nickname">Elaine Halonen 3</div>
            </div>
          </div><!----><div class="liker" ng-repeat="member in likesList">
            <img alt="Avatar" gm-avatar="member.image_url" class="like-avatar" src="https://i.groupme.com/750x750.jpeg.8c40014ff3e64253b31a9886ad8c862c.avatar">
            <div class="name tooltip">
              <div class="tooltip-inner" gm-twemoji="member.nickname">Mom</div>
            </div>
          </div><!----><div class="liker" ng-repeat="member in likesList">
            <img alt="Avatar" gm-avatar="member.image_url" class="like-avatar" src="https://i.groupme.com/746x560.jpeg.8e5af003394542799cd86012b4986ed4.avatar">
            <div class="name tooltip">
              <div class="tooltip-inner" gm-twemoji="member.nickname">Paul</div>
            </div>
          </div><!---->
        </div>

      </div><!---->

    </div>

    <div class="content">

      <div class="readability">
        <!----><div class="message-text" ng-if="message.decoration.textArray &amp;&amp; !message.decoration.hideText"><span gm-twemoji="text" gmvar-embiggen="true">%%Text%%</span></div><!---->

        <!----><div class="attachments" ng-if="message.attachments.length"><div class="attachment image" ng-style="{'max-width': imageWidth+'px'}" style="max-width: %%ImageWidth%%px;">

  <div class="image-content" gmvar-image-url="url" gmvar-source-image-url="source_url" gmvar-image-width="imageWidth" gmvar-image-height="imageHeight" gmvar-on-load="imageLoaded" gmvar-on-click="openZoomedImage">

  <div class="layout" ng-show="!imageMessage" ng-class="{'loading-image': loadingImage}" style="max-width: %%ImageWidth%%px;">

    <!---->

    <div class="image-wrapper">
      <div class="vertical-spacer" style="padding-top: %%ImageHeightPercentage%%%;"></div>
      <img class="img-responsive" ng-click="imageClicked()" style="display: block;" src="%%Image%%">
    </div>
    <div class="image-controls">
      <button class="btn btn-default btn-xs" ng-click="hideImage($event);" translate="Directives.GMImageContent.Hide">Hide</button>
      <button class="btn btn-default btn-xs" ng-click="meme()" translate="Directives.GMImageContent.Meme">Meme</button>
    </div>
  </div>

  <!---->

</div>

  <!---->

</div></div><!---->

        <!---->
      </div>

    </div>

  </div>

  <!---->

  <!---->

  <!---->

</div>