<html>
<link rel="stylesheet" href="https://d2imzjri19ww0c.cloudfront.net/stylesheets/static_application-1479314472.css" type="text/css">

<div class="chat-messages" gm-scroll-target="">

  <!----><div class="chat-loading" ng-if="showLoader()" ng-class="{visible: loadingPage || !chatLoaded}">
    <img src="/images/gm-hash-spinner.gif" alt="Loading...">
  </div><!---->

  <!---->

  <!----><div class="pages has-server-pages" ng-class="{'has-server-pages': chatContent.pages.length}" ng-if="chatLoaded &amp;&amp; !isChatEmpty()">

    <div class="server-pages" gmvar-chat-id="chat.id" gmvar-page-count="visiblePageCount" gmvar-pages="chatContent.pages" gmvar-page-loaded="pageLoaded"><div class="page">
      <div id="D0D96006-C11C-4EEA-AF93-8DD8C3D92522" class="message is-bookend with-timestamp" ng-class="{
    me: currentUser.id == message.user_id,
    'is-continuation': message.isContinuation,
    'is-bookend': message.isBookend,
    'with-timestamp': message.formattedTimestamp,
    highlight: message.showHighlight
  }">

  <!----><div class="timestamp-divider" ng-if="message.formattedTimestamp" ng-bind="message.formattedTimestamp">Mon, 4:20 PM</div><!---->

  <div class="message-header clearfix">

    <div class="avatar">
      <div class="avatar-crop img-circle text-center" ng-click="openOneOnOne()">
        <!----><img alt="Avatar" class="img-responsive" ng-if="(!message.system &amp;&amp; message.sender_type !== 'system')" gm-avatar="message.avatar_url" src="https://i.groupme.com/750x750.jpeg.25c6aae440c644ecb467952f85e83365.avatar"><!---->
        <!---->
      </div>
    </div>

    <!----><div ng-if="!(isDMChat &amp;&amp; currentUser &amp;&amp; currentUser.id != message.user_id &amp;&amp; isLastInChat())" class="nickname" gm-twemoji="message.name">Mary Kilpela</div><!---->
    <!---->

  </div>

  <div class="message-body clearfix">

    <div class="gutter">

      <!----><div class="likes-container liked" ng-controller="LikesController" ng-if="!message.failed &amp;&amp; message.id" ng-class="{'liked': message.favorited_by.length, 'liked-by-me': likedByMe}" ng-click="toggleLike()" ng-mouseover="message.showHighlight = true;" ng-mouseleave="message.showHighlight = false;" gm-tooltip="" gm-likes-ghost="" gm-determine-context="">
        <i class="gmicon-heart"></i>
        <i class="gmicon-heart-outline"></i>
        <span class="count" ng-show="message.favorited_by.length" ng-bind="message.favorited_by.length">3</span>


        <div class="pop-over" ng-show="likesList.length">
          <!----><div class="liker" ng-repeat="member in likesList">
            <img alt="Avatar" gm-avatar="member.image_url" class="like-avatar" src="https://i.groupme.com/638x640.jpeg.d7d37776a55942368c46d9e94f200a9b.avatar">
            <div class="name tooltip">
              <div class="tooltip-inner" gm-twemoji="member.nickname">Elaine Halonen 3</div>
            </div>
          </div><!----><div class="liker" ng-repeat="member in likesList">
            <img alt="Avatar" gm-avatar="member.image_url" class="like-avatar" src="https://i.groupme.com/750x750.jpeg.8c40014ff3e64253b31a9886ad8c862c.avatar">
            <div class="name tooltip">
              <div class="tooltip-inner" gm-twemoji="member.nickname">Mom</div>
            </div>
          </div><!----><div class="liker" ng-repeat="member in likesList">
            <img alt="Avatar" gm-avatar="member.image_url" class="like-avatar" src="https://i.groupme.com/746x560.jpeg.8e5af003394542799cd86012b4986ed4.avatar">
            <div class="name tooltip">
              <div class="tooltip-inner" gm-twemoji="member.nickname">Paul</div>
            </div>
          </div><!---->
        </div>

      </div><!---->

    </div>

    <div class="content">

      <div class="readability">
        <!----><div class="message-text" ng-if="message.decoration.textArray &amp;&amp; !message.decoration.hideText"><span gm-twemoji="text" gmvar-embiggen="true">Diploma! Whoot whoot! Online school rocks <img class="emoji" draggable="false" alt="👍🏻" src="https://twemoji.maxcdn.com/2/72x72/1f44d-1f3fb.png"></span></div><!---->

        <!----><div class="attachments" ng-if="message.attachments.length"><div class="attachment image" ng-style="{'max-width': imageWidth+'px'}" style="max-width: 300px;">

  <div class="image-content" gmvar-image-url="url" gmvar-source-image-url="source_url" gmvar-image-width="imageWidth" gmvar-image-height="imageHeight" gmvar-on-load="imageLoaded" gmvar-on-click="openZoomedImage">

  <div class="layout" ng-show="!imageMessage" ng-class="{'loading-image': loadingImage}" style="max-width: 300px;">

    <!---->

    <div class="image-wrapper">
      <div class="vertical-spacer" style="padding-top: 133.333%;"></div>
      <img class="img-responsive" ng-click="imageClicked()" style="display: block;" src="https://i.groupme.com/1125x1500.jpeg.3a0f19853d404319a27caa074a4d9b59">
    </div>
    <div class="image-controls">
      <button class="btn btn-default btn-xs" ng-click="hideImage($event);" translate="Directives.GMImageContent.Hide">Hide</button>
      <button class="btn btn-default btn-xs" ng-click="meme()" translate="Directives.GMImageContent.Meme">Meme</button>
    </div>
  </div>

  <!---->

</div>

  <!---->

</div></div><!---->

        <!---->
      </div>

    </div>

  </div>

  <!---->

  <!---->

  <!---->

</div>

      <div id="6E280469-0096-4941-8FF3-6FCE815B426C" class="message is-bookend with-timestamp" ng-class="{
    me: currentUser.id == message.user_id,
    'is-continuation': message.isContinuation,
    'is-bookend': message.isBookend,
    'with-timestamp': message.formattedTimestamp,
    highlight: message.showHighlight
  }">

  <!----><div class="timestamp-divider" ng-if="message.formattedTimestamp" ng-bind="message.formattedTimestamp">Mon, 4:43 PM</div><!---->

  <div class="message-header clearfix">

    <div class="avatar">
      <div class="avatar-crop img-circle text-center" ng-click="openOneOnOne()">
        <!----><img alt="Avatar" class="img-responsive" ng-if="(!message.system &amp;&amp; message.sender_type !== 'system')" gm-avatar="message.avatar_url" src="https://i.groupme.com/748x748.jpeg.3501d7baf174471b9e5eb34533d1ab90.avatar"><!---->
        <!---->
      </div>
    </div>

    <!----><div ng-if="!(isDMChat &amp;&amp; currentUser &amp;&amp; currentUser.id != message.user_id &amp;&amp; isLastInChat())" class="nickname" gm-twemoji="message.name">David Halonen</div><!---->
    <!---->

  </div>

  <div class="message-body clearfix">

    <div class="gutter">

      <!----><div class="likes-container" ng-controller="LikesController" ng-if="!message.failed &amp;&amp; message.id" ng-class="{'liked': message.favorited_by.length, 'liked-by-me': likedByMe}" ng-click="toggleLike()" ng-mouseover="message.showHighlight = true;" ng-mouseleave="message.showHighlight = false;" gm-tooltip="" gm-likes-ghost="" gm-determine-context="">
        <i class="gmicon-heart"></i>
        <i class="gmicon-heart-outline"></i>
        <span class="count ng-hide" ng-show="message.favorited_by.length" ng-bind="message.favorited_by.length">0</span>


        <div class="pop-over ng-hide" ng-show="likesList.length">
          <!---->
        </div>

      </div><!---->

    </div>

    <div class="content">

      <div class="readability">
        <!----><div class="message-text" ng-if="message.decoration.textArray &amp;&amp; !message.decoration.hideText"><span gm-twemoji="text" gmvar-embiggen="true">And a home to hang it in!</span></div><!---->

        <!---->

        <!---->
      </div>

    </div>

  </div>

  <!---->

  <!---->

  <!---->

</div>

    </div>

    <div class="push-pages" gmvar-chat-id="chat.id" gmvar-page-size="chatContent.maxPageSize" gmvar-poll-water-mark="chatContent.pollWaterMarkID" gmvar-dirty-pushes="chatContent.dirtyPushes">
  <!---->
</div>

  </div><!---->

</div>
</html>