<div id="6E280469-0096-4941-8FF3-6FCE815B426C" class="message is-bookend with-timestamp" ng-class="{
    me: currentUser.id == message.user_id,
    'is-continuation': message.isContinuation,
    'is-bookend': message.isBookend,
    'with-timestamp': message.formattedTimestamp,
    highlight: message.showHighlight
  }">

    %%DateDiv%%


  <div class="message-header clearfix">

    <div class="avatar">
      <div class="avatar-crop img-circle text-center" ng-click="openOneOnOne()">
        <!----><img alt="Avatar" class="img-responsive" ng-if="(!message.system &amp;&amp; message.sender_type !== 'system')" gm-avatar="message.avatar_url" src="%%UserNameUrl%%"><!---->
        <!---->
      </div>
    </div>

    <!----><div ng-if="!(isDMChat &amp;&amp; currentUser &amp;&amp; currentUser.id != message.user_id &amp;&amp; isLastInChat())" class="nickname" gm-twemoji="message.name">%%UserName%%</div><!---->
    <!---->

  </div>

  <div class="message-body clearfix">

    <div class="gutter">

      <!----><div class="likes-container" ng-controller="LikesController" ng-if="!message.failed &amp;&amp; message.id" ng-class="{'liked': message.favorited_by.length, 'liked-by-me': likedByMe}" ng-click="toggleLike()" ng-mouseover="message.showHighlight = true;" ng-mouseleave="message.showHighlight = false;" gm-tooltip="" gm-likes-ghost="" gm-determine-context="">
        <i class="gmicon-heart"></i>
        <i class="gmicon-heart-outline"></i>
        <span class="count ng-hide" ng-show="message.favorited_by.length" ng-bind="message.favorited_by.length">%%Likes%%</span>


        <div class="pop-over ng-hide" ng-show="likesList.length">
          <!---->
        </div>

      </div><!---->

    </div>

    <div class="content">

      <div class="readability">
        <!----><div class="message-text" ng-if="message.decoration.textArray &amp;&amp; !message.decoration.hideText"><span gm-twemoji="text" gmvar-embiggen="true">%%Text%%</span></div><!---->

        <!---->

        <!---->
      </div>

    </div>

  </div>

  <!---->

  <!---->

  <!---->

</div>